*{
    padding: 0;
    margin: 0;
    font-family: century gothic;

}
.uno{
    display: none;
}
body{
    overflow-x: hidden;
}
.topo{
    padding: 120px;
    font-size: 30px;
    text-align: center;
    background-image: url(../img/lago-ilopango.jpg);
    background-position: bottom;
    background-size: cover;
    color: white;
}
nav ul li {
    list-style: none;
    height: 100%;
    display: inline-block;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin: 10px;

}
nav ul{
    width: 100%;
    text-align: center;
    background: black;
    padding: 10px;
}
nav ul li a{
    transition: 0.5s;
    height: 100%;
    color: white;
    text-decoration:none;
            

    
}
nav ul li a:hover{
    border-bottom: 2px solid white;
}

h1{
    text-align: center;
   
    font-size: 30px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 5px;
    margin-left: 50px;
    margin-right: 50px;
     margin-top: 30px;
    margin-bottom: 30px;
}
.peque{
    display: flex;
    padding: 10px;
    margin-left:  80px;
    margin-right: 80px;
}
.peque p{
    margin-top: 8%;
    width: 40%;
    text-align: justify;
    font-size: 20px;
    padding: 10px;
}
.imgloca{
    margin: 10px;
    margin-left: 40px; 
    width: 50%;
    height: 300px;
    background-image: url(../img/900000.jpg);
    background-size: cover;
    background-position: center;
}
.imgs{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
.mediana{
    margin: auto;
    width: 11vw;
    height: 20vh;
    padding: 3px;
    border: 2px solid;
}
footer{
    text-align: center;
    padding: 40px;
    background: black;
    color: white;
}

@media only screen and (max-width: 786px) {

    .mediana{
        width: 21vw;
        height: 20vh;
        padding: 0;
        border: none;
    }
    .imgs{
        padding: 10px;
        display:inline-block;
    }
    .peque{
        margin: 10px;
        display: inline;
    }
    .peque p{
        top:0px;
        width: 90%;
        margin: auto;
    }
    .imgloca{
        margin: auto;
        width: 90vw;
    }
    nav ul li {
        display: block;
    }
    .uno{
        display: block;
    }
    .dos{
        display: none;
    }
    
}

@media only screen and (max-width: 400px){
  
    
    .topo{
        padding: 30px;
        font-size: 20px;
    }
}